body {
  max-width: 370px;
  height: 100vh;
  width: 100vw;
  font-family: "Roboto", sans-serif;
  overflow: hidden;
}

/* nav */

.nav {
  border-bottom-color: #dbdbdb;
  border-bottom-width: 2px;
  border-bottom-style: solid;
}

.logo_back {
  background-image: url(/img/arrow.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 24px;
  height: 24px;
  transform: rotate(270deg);
}

.header_title {
  font-size: 16px;
  font-weight: 600;
  color: #262626;
}

/* caption */

.caption {
  border-bottom-color: #dbdbdb;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.post_ts {
  font-size: 12px;
  font-weight: 400;
  color: #8e8e8e;
}

.post_delete {
  font-size: 12px;
  font-weight: 600;
  color: #8e8e8e;
}

/* main body */

.main {
  overflow: auto;
  height: -webkit-fill-available;
}

.user_img {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  object-fit: cover;
}

.user_username {
  font-size: 14px;
  font-weight: 600;
  color: #262626;
}

.user_comment {
  font-size: 14px;
  font-weight: 400;
  color: #262626;
}

/* footer */

.profil_img {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  object-fit: cover;
}

.submit_button {
  color: #0095f6;
}

.footer {
  position: fixed;
  bottom: 0;
  border-top-color: #dbdbdb;
  border-top-width: 1px;
  border-top-style: solid;
  width: 370px;
  background-color: white;
}
