body {
  max-width: 370px;
  height: 100vh;
  width: 100vw;
  font-family: "Roboto", sans-serif;
  overflow: auto;
}

.logo_ig_parent {
  padding-top: 20%;
}

.logo_ig {
  background-image: url(/img/1.png);
  background-position: 0px 0px;
  background-size: 176px 181px;
  width: 175px;
  height: 51px;
  background-repeat: no-repeat;
  display: inline-block;
}

.btn_tombol_get {
  background: #0095f6;
  width: 300px;
  font-size: 14px;
}

.logo_fb {
  background-repeat: no-repeat;
  background-position: -414px -259px;
  height: 16px;
  width: 16px;
  background-image: url("/img/3.png");

  border: 0;
  display: inline-block;
  font: inherit;
  font-size: 100%;
  margin: 0;
  margin-right: 8px;
  padding: 0;
  position: relative;
  top: 3px;
  vertical-align: baseline;
}

.text_fb {
  color: #385185;
  font-size: 14px;
  font-weight: 600;
}

.text_or {
  color: #8e8e8e;
  transform: translateY(50%);
  font-size: 13px;
  font-weight: 600;
}

.text_forgot {
  color: #00376b;
  font-size: 12px;
}

.text_signup {
  font-size: 14px;
  color: #262626;
}

.text_signup a {
  color: #0095f6;
}
